.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calender {
  display: grid;
  grid-template-columns: repeat(7, 50px);
}

.date {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(6, 50px);
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 50px);
}
